{% extends "layout.html" %}
{% load bootstrap3 %}

{% block content %}
    <div class="page-header">
      <h2>Add Tool</h2>
    </div>
{% load bootstrap3 %}
    <form action="{% url 'add_tool' %}" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        <br>
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                Submit
            </button>
        {% endbuttons %}
    </form>

{% endblock %}
